/* metrics */
div.css-pfwtn7.e1y5xkzn3{
    color:#8D9192
}
div.st-ck.st-c1.st-d6.st-d7.st-d8.st-d9.st-cd.st-cc.st-ca.st-cb.st-c7.st-b8.st-da.st-db.st-dc.st-dd.st-de.st-df.st-dg.st-dh.st-ae.st-af.st-ag.st-di.st-ai.st-aj.st-bz.st-dj.st-dk.st-dl{
    color:#8D9192
}
div.row-widget.stTextInput.css-1ix8xl8.e11y4ecf0{
    color:#8D9192
}
div.css-zt5igj.e1nzilvr3{
    color:#000;
    padding: 20px 20px 20px 70px;
}
div.row-widget.stTextInput.css-18plnlc.e11y4ecf0{
    font-size: 32px;
}
div[class*="stTextInput"] label {
    font-size: 40px;
}
div[class*="stChatFloatingInputContainer css-90vs21 e1d2x3se2"]{
    position: fixed;
    padding-bottom: 100px;
}
div[class*= "st-be st-b3 st-bf st-cr st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-bo st-bp st-b1 st-bq st-au st-ax st-av st-aw st-br st-bs st-bt st-bu st-bv st-bw st-bx st-by"]{
    border-color: #002e5d;
}
div[class*= "st-bd st-b3 st-be st-cr st-bg st-bh st-bi st-bj st-bk st-bl st-bm st-bn st-bo st-b1 st-bp st-au st-ax st-av st-aw st-bq st-br st-bs st-bt st-bu st-bv st-bw st-bx"]{
    border-style: solid;
    border-color: #002e5d;
}
div.css-1dp5vir.ezrtsby1{
    display: none
}
div[class*= "st-bd"]{
    border-color: #002e5d;
}
div[class*= "st-b3"]{
    border-color: #002e5d;
}
div[class*= "st-bh"]{
    border-color: #002e5d;
}
div[class*= "st-aw"]{
    border-color: #002e5d;
}